@import url('https://fonts.googleapis.com/css?family=Oswald');
@font-face {
  font-family: "Score Board";
  src: url('https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot');
  src: url('https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.ttf') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.svg') format('svg');
}
@font-face {
  font-family: "againtsregular";
  src: url('https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot');
  src: url('https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.ttf') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.svg') format('svg');
}


html *{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}


.ScoreBoard {
    display: flex;
    justify-content: center;
    font-family: "Score Board", sans-serif;
    text-align: center;
    background: green;
    color: yellow;
    text-shadow: 0 0 3px #fde249;
    padding: 1rem 0;
}


.ScoreBoard h3 {
    margin: 0;
  }
  
  .ScoreBoard .teamStats {
    flex: 1;
  }
  
  .Game {
    text-align: center;
  }





button{
    border: 1px solid red;
}

body{
    background: yellow;
}
.Team{
    width: 35%;
    float: left;
}
.header{
    width: 25%;
    margin: auto;
    float: left;
    margin-top: 250px;
    margin-left: 65px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.clear{
    clear: both;
}
h1{
    color: green  ;
}
h5{
    color: red;
}